<!DOCTYPE>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="F:\webD\Todo Lists\assets\css\Todos.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">	
	<script type="text/javascript" src="F:\webD\Todo Lists\assets\js\lib\jquery-3.3.1.min.js"></script>
</head>
<body>
	<div id="table" >
		<h3> Select The Band <i class="fa fa-music" aria-hidden="true"></i></h3>
		
		
		<ul id="container">
			<li class="li1 li"><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span><a href="/shop/pinkFloyd"> Pink Floyd</a></li>
			<li class="li2 li"><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span> <a href="/shop/Metallica"> Metallica</a></li>
			<li class="li3 li"><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span> <a href="/shop/LedZepplin"> Led Zepplin</a></li>
			<li class="li4 li"><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span><a href="/shop/RedHotChilliPepper"> Red Hot ChilliPepper</a></li>
			<li class="li5 li"><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span><a href="/shop/GunsNRoses"> Guns N Roses</a></li>
		</ul> 
	</div>

<script type="text/javascript" src="F:\webD\Todo Lists\assets\js\Todos.js"></script>
</body>
</html>