<% include ../partials/header %>
<div class="container">
<div class="jumbotron">
<h1>WELCOME</h1>
<h3>Now You Can Shop </h3>
<button class="btn btn-lg btn-inverse"><a href="/">Click Here</a></button>
</div>
</div>
<% include ../partials/footer %>