<% include ../partials/header %>
<div class="container">
<h1>Sign In</h1>
<form action="/user/signin" method="POST">
  <div class="form-group">
    <label for="exampleInputText1">UserName</label>
    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp" placeholder="username" name="username">
    <label for="exampleInputText1">Password</label>
    <input type="password" class="form-control" id="exampleInputText1" aria-describedby="textHelp" placeholder="Password" name="password">

  <button class="btn btn-lg btn-success">Sign In</button>
</form>
</div>

<% include ../partials/footer %>